@import "./config";

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	color: $bodyColor;
}

body,
#root,
.App {
	height: 100vh;
}

.App {
	display: flex;
	flex-direction: column;
}

.visualizer__container {
	flex: 1;
}

.visualizer__row {
	height: 100%;
}
